[include]
  path = ~/.gitconfig_local

[user]
  name  = Soshi Katsuta

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = 227
  flag = magenta bold
  commit = 227 bold
  old = red bold
  new = green bold
  whitespace = red reverse

[push]
  default = current

[merge]
  ff = false

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  pager = "diff-so-fancy | less --tabs=4 -RFX"

[filter "media"]
  clean    = git media clean %f
  smudge   = git media smudge %f
  required = true

[pull]
  ff = only

[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/

[ghq]
  root = ~/src

[diff]
  compactionHeuristic = true

[commit]
  verbose = true

[rebase]
  autosquash = true
  updateRefs = true

[rerere]
  enabled = 1

[alias]
  # Legit
  branches = !legit branches
  publish = !legit publish
  unpublish = !legit unpublish
  sync = !legit sync
  switch = !legit switch
  resync = !legit resync
  undo = !legit undo

  # Shortcuts
  als = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  br = branch
  ca = commit --amend
  cm = commit
  co = checkout
  delete = branch -D
  hide = update-index --skip-worktree
  mf = merge --ff
  mfh = merge --ff FETCH_HEAD
  new = checkout -b
  ps = push
  rb = rebase -i
  rename = branch -m
  rst = reset
  rt = remote
  sh = stash
  sp = stash pop
  st = status
  unhide = update-index --no-skip-worktree

[tig "bind"]
  diff = F ?!git commit --fixup %(commit)
  diff = S ?!git commit --squash %(commit)
  main = F ?!git commit --fixup %(commit)
  main = S ?!git commit --squash %(commit)

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main
